@import "./global.css";

body {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    
}


.sect-heading {
    background-color: #265d45;
    border-radius: 20px;
    padding: 0.5%;
    margin: 20px;

}


.gametitle {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


.quiz-content {
    background-color: #ADDCB5;
    color: black;
    display: grid;
    justify-content: center;
    margin: 70px;
    font-size: xx-large;
    border-radius: 20px;
    border:  solid var(--light-outline);
}


.btn-a {
background-color: white;
border: 0px;
font-size: xx-large;
width: 500px;
margin-top: 30px;
margin-bottom: 30px; 
border-radius: 10px;
}


.btn-b {
background-color: white;
border: 0px;
font-size: xx-large;
width: 500px;
margin-top: 30px;
margin-bottom: 30px; 
border-radius: 10px;
}


.btn-c {
background-color: white;
border: 0px;
font-size: xx-large;
width: 500px;
margin-top: 30px;
margin-bottom: 30px; 
border-radius: 10px;
}
