@import "./global.css";

body {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    
}


.sect-heading {
    background-color: #265d45;
    border-radius: 20px;
    padding: 0.5%;
    margin: 20px;

}


.gametitle {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


.intro-content {
    text-align: center;
    background-color: #ADDCB5;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px;
    margin-top: 150px;
    font-size: xx-large;
    border-radius: 20px;
    border:  solid var(--light-outline)
}


.enterq {
    background-color: #1B4332;
    color: white;
    font-size: larger;
    padding: 30px;
    border-radius: 10px;
    float: right;
    margin: 70px;


}






/*
:root {
  --bg-colour: #F0FAF4; 
  --light-colour: #ADDCB5;
  --light-hover: #96cfa0;
  --light-outline: #80B689;
  --dark-colour: #2D6A4F;
  --dark-hover: #265d45;
  --dark-outline: #1B4332;
}*/