@import "./global.css";

body {
    background-color: var(--bg-colour);
}

#heading-text {
    display: flex;
    margin: auto;
    margin-bottom: 2rem;
    align-items: center;
    justify-content: center;
    color: var(--bg-colour);
    background-color: var(--dark-colour);
    border: solid 3px var(--dark-outline);
    border-radius: 14px;
    width: 90%;
}

#page-sections {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-evenly;
}

#all-game-options {
    background-color: var(--light-colour);
    width: 50%;
    margin-right: 1.5rem;
    border: solid 3px var(--light-outline);
    border-radius: 14px;
}

#page-sections h2 {
    text-align: center;
    font-size: 2rem;
    color: var(--dark-outline);
}

.game-option {
    display: flex;
    border-radius: 14px;
    margin: 2rem 1rem;
    background-color: lightgray;
    color: var(--dark-colour);
}

.game-option:hover {
    background-color: var(--dark-colour);
    color: var(--bg-colour);
}

.game-img {
    width: 10%;
}

.game-img img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 50%;
}

.game-info {
    margin-left: 0.5rem;
}

.game-title {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
}

.game-description {
    margin: 0;
}

#leaderboard {
    background-color: var(--light-colour);
    width: 50%;
    border: solid 3px var(--light-outline);
    border-radius: 14px;
}

